project_id = "hibara428-dev"
region     = "asia-northeast1"

iap_allowed_members = [
  "user:your-email@example.com",
]

# Set after `docker build` and `docker push`
image = "asia-northeast1-docker.pkg.dev/hibara428-dev/evidence-tutorial/app:latest"
